.grid-container{ /* Creating a grid container to ease creation and better orgainse my webpage layout */
  display: grid;
  grid-template-columns: [column1-start] 30px [column1-end] repeat(5, 1fr) [column7-start] 30px [column7-end];
  grid-template-rows: [row1-start] 60px [row1-end]repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
 
 /* Navbar container */
nav{
  grid-area: 1 / 1 / 2 / 8;
  overflow: hidden;
  background-color: #1D2D44;
  font-family: 'Times New Roman', Times, serif;
}

/* Links inside the navbar */
nav a {
  float: left;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
nav a:hover, .dropdown:hover .dropbtn {
  background-color: #597491;
  border-radius: 3px;
  border-left-width:5px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* contact button */
.contact{
width:35px;
height:35px;
}
.menubtn{ /* menu button */
  width:30px;
  height: auto;
}

  .floatright{
    float: right; /* Class to float my elements to the right*/
  }
  body{
    margin: 0px; /* Removes gap between nav bar and top of webpage */
  }
  .profile-text{
  grid-area: 3 / 3 / 5 / 7;
    color:#000000;
    font-family: 'Times New Roman', Times, serif;
    background-color: #597491;
    border-radius: 5px;
    padding: 5px;
  }
  .profile-img{
    grid-area: 3 / 2 / 5 / 4;
  }
  .profile-img img{
    object-fit: contain;
    justify-self: start;
    max-width: 100%;
    max-height: 100%;
    width: 20vw;
    height: 40vh;
  }
 